body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
    background-color: #f9f9f9;
    color: #eeebeb;
    background-color: #2d4d52;
}

nav {
    margin-top: 20px;
    margin-bottom: 40px;
}

a {
    
    text-decoration: none;
    margin: 0 10px;
    color: #f0f0f0;
}

a:hover {
    background-color: #222;
   
}

#blog-posts {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

.blog-post {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.blog-post h3 {
    margin-top: 0;
    color: #222;
}

.blog-post p {
    line-height: 1.6;
    color: #222;
}


section{
    color: black;
    background-color: #f0f0f0;
    margin-top: 30px;
    border: 2px ;
    padding: 20px;
    border-radius: 22px;
}

section h2{
    color: black;
    margin: 0;

}

section h2:hover{
    color: #f0f0f0;
}
section:hover{
    background-color: #01413f;
    color: white;
    cursor: pointer;
    transform: scale(1.02);
    transition: all 0.3s ease;
}

.click-blog{
    padding: 50px;
   
}